@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow&display=swap');
*{
    margin:0px;
    padding: 0px;
    font-family: 'Roboto';
}
header{
    width:100%;
    height:100px;
    display:flex;
    padding-top: 10px;
  
}

#konn{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 100px;
    margin-top: 150px;
    
}
#logo{
    flex:1;
   
}

#head_content{
    flex:1;
    text-align: right;
   
}

#head_content ul li{
   margin-top: 5px;
   color: silver;
   
}
.container{
    margin:0 auto ;
    width: 90%;
   
}
header .container{
    display:flex;
}

ul{
    list-style-type: none;
}

#ban{

    width: 100%;
   margin-top:-150px ;
    padding-top: 150px;

    height: 700px;
    text-align: center;
    background: url(fale.png);
    background-position: right;
    background-repeat: no-repeat;  
 
   

}
#ban .container .pink{
    color:silver;
    font-weight: bold;
    
  

}
#ban .container h1{
    font-weight: normal;
    font-size: 35px;
    flex: 100%;  
    text-transform: uppercase;
    font-family: 'PT Sans Narrow', ;
   
    
  

}

#ban .container .bol{
    font-weight: bold;
    
  


}
#ban .container p{
  font-size: 22px;
  margin-top: 50px;
  text-align: left;
 
    
  

    
}






#per{
 margin-top: 50px;
width: 70%;
}

#pol_kon{
    width: 300px;
    height: 50px;
    background-color:#CD5C5C;
   margin:0 auto;
    color: #fff;
    text-align: center;
    line-height: 50px;
    box-shadow: 0 4px 3px 0 black;
}


#spis{
    width: 100%;
    margin-top: 50px;
}

#ma{
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    padding-left: 200px;
    padding-right: 200px;
}


#spis ul{
text-align: center;
margin-top: 50px;
}
#spis ul li{
    margin-top: 15px;
    }
    
    #spis ul li i{
     margin-right: 0px;
     
        }

        #am{
            text-transform: uppercase;
            text-align: left;
            font-weight: bold;
            font-size: 30px;
            padding-right: 200px;
           
        }

        #spis2{
            width: 90%;
            margin-top: 100px;
           margin-left: auto;
           margin-right: auto;
         
        }

        #opis{
            width: 40%;
            margin-top: 20px;
            text-align: left;
            font-size: 20px;
            color: silver;
        
        } 
        
        #spis2 ul{
            color:black;
        }
        #spis2 ul i{
          color:#C71585;
          margin-right: 15px;
        }

        #spis2 ul li{
           margin-top: 15px;
          }

        #spis .container{
            display:flex;
            margin:0 auto ;
            width: 90%;
        }


        #spis div{
            flex:1;
            margin-left: 10px;
            margin-right: 10px;
            text-align: center;
            margin-top: 50px;
            
        }
        #spis div i{
           color:silver;
           font-size: 40px;
        
        }
        #spis div p{
            
            font-size: 20px;
            margin-top: 10px;
         
         }


         #bol_ban{
             width: 100%;
             margin-top: 100px;
        text-align: center;
         }


         #kon{
             width:70% ;
            background-color: #CD5C5C;
            height: 50px;
            color:#fff;
            text-align: center;
            line-height: 50px;
            margin:0 auto;
            text-transform: uppercase;
         }



         #topf{
             width: 100%;
             margin-top: 50px;

         }
         #topf p{
             text-align: center;
             font-size: 30px;

         }
         #topf p span{
text-transform: uppercase;
color:#C71585;
font-weight: bold;
         }

         #topf ul{
             text-align: center;
             margin-top: 50px;
         }
         #topf ul li{
            
            margin-top: 10px;
        }
        #topf ul li i{
            
           margin-right: 10px;
           color:#C71585;
        }


        #vop p{
            text-align: center;
            width: 100%;
            text-transform: uppercase;
           margin-top: 50px;
            font-weight: bold;
            font-size: 30px;
           
        }

        #vop ul{
            margin-left: 10%;
            margin-top: 50px;
        }

        #vop ul li{
            margin-top: 10px;
        }

        #vop ul li i{
            margin-right: 5px;
            font-size: 20px;
            color:#C71585;
        }

        #for{
            margin-top: 50px;
            width: 100%;

        }

        #for p{
            text-align: center;
            width: 100%;
            text-transform: uppercase;
           margin-top: 50px;
            font-weight: bold;
            font-size: 30px;
            margin-bottom: 50px;
        }


        #for form{
            margin:0 auto;
            width: 90%;
            display: flex;
            flex-wrap: wrap;
        }

        #for form .tr{
            margin-left: 1%;
            margin-right: 1%;
           flex: 1;
            height: 50px;
            padding-left: 20px;
            
        }

        #for form textarea{
          
            width: 100%;
            height: 70px;
            padding-left: 20px;
            margin-top: 30px;
        }

        #spe_sfe{
            margin-top:30px ;
        }
        #maspe{
            text-align: center;
            width: 100%;
            text-transform: uppercase;
           margin-top: 50px;
            font-weight: bold;
            font-size: 30px;
          
        }
        #spe_sfe ul{
            list-style-type: disc;
            margin-left: 10%;
            margin-top: 30px;
        }
        #spe_sfe ul li{
          
            margin-top: 15px;
            color:#00FA9A;

        }
        #spe_sfe ul li span{
            color: #000;
            cursor:pointer;
            border-bottom: 1px dashed #000;
        }
        #spe_sfe ul li span:hover{
            color: #00FA9A;
            transition:all 0.7s ease;
        }

        #dis{
            margin-left: 10%;
            color: silver;
            margin-top: 20px;
            font-size: 20px;
            margin-right: 10%;
        }
        #dis span{
font-weight: bold;
color: black;
        }

        #for2{
            margin-top: 50px;
            width: 100%;

        }



        #for2 form{
            margin:0 auto;
            width: 90%;
            display: flex;
            flex-wrap: wrap;
        }

        #for2 form .tr{
            margin-left: 1%;
            margin-right: 1%;
           flex: 1;
            height: 50px;
            padding-left: 20px;
            
        }

        #for2 form textarea{
          
            width: 100%;
            height: 70px;
            padding-left: 20px;
            margin-top: 30px;
        }

        #work_form p{
            text-align: center;
            width: 100%;
            text-transform: uppercase;
           margin-top: 50px;
            font-weight: bold;
            font-size: 30px;
        }

#var{
    width: 90%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;

}
  .block{
flex:1;
height: auto;
background-color: silver;
margin-left:1% ;
margin-right:1% ;
border-radius: 2px;
padding-left: 10px;
padding-right: 10px;
        }

        .tit{
            text-align: center;
            margin-top: 20px;
            font-size: 25px;
        }

        .tit p{
           font-size: 14px;
           margin-top: 10px;
           
        }

        .block ul{
            list-style-type: disc;
            font-size: 14px;
            padding-left: 20px;
            padding-right: 20px;
        }
        .block ul li{
          margin-top:  10px;
        }



        .block p{
            margin-top: 20px;

        }
        .zak{
            margin-top: 20px;
        width: 150px;
        margin-left: auto;
        margin-right: auto;
        background-color: #fff;
        height: 50px;
        text-align: center;
        line-height: 50px;
        border-radius:5px ;
        
        margin-bottom: 20px;
        
        }

        #matabl{
            display: flex;
            flex-wrap: wrap;
        }
        .tabl{
            flex: 48%;
            margin-left: 1%;
            margin-right: 1%;
            margin-top: 20px;
            text-align: center;
        }
        .tabl i{
            margin-bottom: 20px;
           font-size: 25px;
           color:#C71585;
        }
        .tabl p{
            font-size: 20px;
        }

        
        #for3{
            margin-top: 50px;
            width: 100%;

        }



        #for3 form{
            margin:0 auto;
            width: 90%;
            display: flex;
            flex-wrap: wrap;
        }

        #for3 form .tr{
            margin-left: 1%;
            margin-right: 1%;
           flex: 1;
            height: 50px;
            padding-left: 20px;
            
        }

        #for3 form textarea{
          
            width: 100%;
            height: 70px;
            padding-left: 20px;
            margin-top: 30px;
        }


        #obomne{
            width: 100%;
            margin-top: 50px;
        }
        #obomne p{

text-align: center;
width: 100%;
text-transform: uppercase;
margin-top: 50px;
font-weight: bold;
font-size: 30px;

        }

        #obomne ul{
margin-top: 30px;
margin-left: 10%;
margin-right: 10%;


        }
        #obomne ul  li{
            margin-top: 10px;
        }
        #obomne ul  li:before {
            content: "- "; /* Добавляем в качестве маркера символ */
           
           }



           #edbl{
               margin-top: 60px;
               padding-left: 10%;
               padding-right: 10%;
               display: flex;
           }

           .edbl2{
               flex:1;
           
               display: flex;
               align-items: center;
               justify-content: center;
               
           }
           .edbl2 div{
               text-align: center;
           }
           .edbl2 div span{ 
           color:#CD5C5C;
        }

        #usl_rab{
            width: 100%;
            margin-top: 50px;
        }


        #maus{
            text-align: center;
width: 100%;
text-transform: uppercase;
margin-top: 50px;
font-weight: bold;
font-size: 30px;
        }


        #usl_rab ul{
            padding-left: 10%;
            padding-right: 10%;
        
        }
        #usl_rab ul li{
            margin-top: 10px;
        }


        #usl_rab div{
margin-top: 30px;
padding-left: 10%;
padding-right: 10%;
font-weight: bold;

        }


        #usl_rab div p{
            font-weight: normal;
            font-family: cursive;
            text-align: right;
            margin-top: 10px;

        }


        #for4{
            margin-top: 50px;
            width: 100%;

        }



        #for4 form{
            margin:0 auto;
            width: 90%;
            display: flex;
            flex-wrap: wrap;
        }

        #for4 form .tr{
            margin-left: 1%;
            margin-right: 1%;
           flex: 1;
            height: 50px;
            padding-left: 20px;
            
        }

        #for4 form textarea{
          
            width: 100%;
            height: 70px;
            padding-left: 20px;
            margin-top: 30px;
        }



        #naso{
            width: 100%;
            margin-top: 30px;
            text-transform: uppercase;
           
        }

        #naso p{
            width: 30%;
            background-color: #CD5C5C;
            color: #fff;
            height: 50px;
            line-height: 50px;
            text-align: center;
            margin: 0 auto;


        }


        #osob{
            padding-left: 10%;
            padding-right: 10%;
            margin-top: 60px;
        }


        #osob2{
text-align: center;
font-size: 25px;

        }
            
        #ushr{
            text-align: center;
        }

        #ushr p{
font-weight: bold;
font-size: 22px;
margin-top: 10px;
margin-bottom: 10px;
        }


        #pl_mi{
            margin-top: 50px;
            width: 100%;
            display: flex;
        }


        .pl_mi2{
flex: 1;
margin-left: 1%;
margin-right: 1%;
height: auto;

        }

        .pl_mi2 p{
            text-transform: uppercase;
            font-size: 22px;
            text-align: center;
        }

        .pl_mi3{
            flex: 1;
            margin-left: 1%;
            margin-right: 1%;
            height: auto;
           
                    }
            
                    .pl_mi3 p{
                        text-transform: uppercase;
                        font-size: 22px;
                        text-align: center;
                    }

                    .pl_mi3 ul{
                        text-align: center;
                        margin-top: 25px;
                    }
                    .pl_mi3 ul li{
                        margin-top:15px ;
                      

                    }
                    .pl_mi2 ul{
                        text-align: center;
                        margin-top: 25px;
                    }
                    .pl_mi2 ul li{
                        margin-top:15px ;

                    }

                    .pl_mi2 ul li:before {
                        content: "—";
                        color: red;
                        font-size: 35px;
                        margin-right: 10px;
                       }
                       .pl_mi3 ul li:before{
                        content: "+";
                        color: green;
                        font-size: 35px;
                        margin-right: 10px;
                    

                    }


                    #sthr{
                        padding-left: 10%;
                        padding-right: 10%;
                        margin-top: 40px;
                        font-weight: bold;
                    }

                    #sthr p{
                        margin-top: 20px;
                        font-weight: normal;
                    }


                    #sthr ul{
margin-top: 20px;
font-weight: normal;
                    }
                    #sthr ul li{
                        margin-top: 15px;
                    }
                    #sthr ul li:before{
                      content:"-";
                      margin-right: 10px;




                                            }



                                            #uz_bol{

                                               padding-right: 10%;
                                               padding-left: 10%;
                                               margin-top: 50px;
                                            }       
                                            
                                            
 #uz_bol div{
     margin:0 auto;
     width: 40%;
     height: 50px;
     line-height: 50px;
     text-align: center;
     text-transform: uppercase;
     background-color: #CD5C5C;
     color:#fff;
 }                                           

 #uz_bol p{
     margin-top: 15px;
     font-family:cursive ;
 }


 #for5{
    margin-top: 50px;
    width: 100%;

}



#for5 form{
    margin:0 auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}

form .tr{
    margin-left: 1%;
    margin-right: 1%;
   flex: 1;
    height: 50px;
    padding-left: 20px;
    
}

#for5 form textarea{
  
    width: 100%;
    height: 70px;
    padding-left: 20px;
    margin-top: 30px;
}


.subb{
    width: 300px;
    margin-top: 20px;
    height: 50px;
    color: #fff;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    background-color:#CD5C5C ;
    cursor: pointer;

}

