@media only screen and (min-width: 1800px) {
    #sev1{
        
padding-left: 100px;

}
#blo_2m img{
width: 60%;
}
.l_1{
   
    padding-left: 140px;
   
   }
   .l_2{


padding-right:160px ;


   }
   
   #c_uc{

   
    padding-left: 110px;
 }   
}

@media only screen and (max-width: 1134px) {
    #poslhe1{
        
        width: 40%;


    }
    #head ul{
        margin-left: 300px;
    }
    .l_1{
        font-size: 20px;
        float: left;
        width: 50%;
        padding-left: 90px;
       
       }
       .l_2{

float: left;
width: 50%;
padding-right:90px ;
margin-top: -7px;

       }

}


@media only screen and (max-width: 1000px) {

    #poslhe2 img{

        width: 100%;
       margin-top: 200px;
    }

    #blo_2m img{

        width: 70%;
    }

    .gh{

        
        margin-top: 20px;


    }

    .ghf{
       
        margin-left:10px;
        
                                      } 

                                      .l_1{
                                    
                                        padding-left: 70px;
                                       
                                       }

                                       .l_2{

                                        
                                        padding-right:80px ;
                                      
                                       }                                        


}


@media only screen and (max-width: 849px) {
    .serv{
       
        margin-left: 10px;
        
                }
    #poslhe2 img{

        width: 100%;
       margin-top: 270px;
    }
    #head ul{
        margin-left: 200px;
    }
    #poslhe1{
      
        width: 50%;
        margin-left: 0px;
       
    }
    #poslhe2{
 
    width: 50%;
   
    
    }
    .main_ka{
        
        margin-top: 20px;
    }


    .gh{

margin-top: 10px;


    }

    .av{
        
        margin-top: 5px;
    }

    #lwys{

      width: 50%;
        font-size: 25px;
        
        padding-left: 5px;
    }

   

    #dvf{
       
        width: 50%;

    }

    .l_1{
       
        padding-left: 50px;
       
       }
       .l_2{


padding-right:50px ;


       }
}

@media only screen and (max-width: 700px){
    #poslhe2 img{

        width: 100%;
       margin-top: 370px;
    }
    .con{
        width: 100px;
        height: 50px;
        border: 1px solid #4d4e53;
        margin-left: 5px;
        
              }

              #headim{
                
                
                margin-left:0px;
                
                width: 24%;
                
                
                
                }
                #head ul{
                  
                    margin-left: 0px;
                    font-size: 13px;
                    width: 74%;
                    
                    }
                    #head li{
                      
                        margin-left: 5px;
                        
                        
                    }
                    #blo_2m{
                       
                        margin-left: 0px;
                        width: 30%;
                        padding-top: 150px;
                        
                        
                        
                        
                                            }
                                            
                    #blo_2t{
                        float: left;
                        width: 65%;


}


                                                                                            
#negl{
    margin-top: 20px;
    font-size: 14px;
   
    padding-right: 50px;
    }


    #blo_3m{
        float: left;
        width: 30%;
        margin-top: 200px;
        margin-left: 0px;
        padding-right: 0px;
        
        
        
                            }

                            #blo_3t{
                                float: left;
                                width: 70%;
        
        padding-left: 10px;
        padding-right: 20px;
                                margin-top: 150px;
                                
                                
                                
                                                    }


                                                    .main_ka{
                                                        text-transform: uppercase;
                                                        color:#0c6ea7;
                                                        font-family: 'Roboto Condensed', sans-serif;
                                                        font-size: 13px;
                                                        
                                                        margin-top: 17px;
                                                       
                                                        
                                                        
                                                        
                                                                                                    }
                                                                                                    .main_ka p{
                                                                                                        text-transform: none;
                                                                                                        color:#fff;
                                                                                                        font-family: 'Lato', sans-serif;
                                                                                                        margin-top: 0px;
                                                                                                        font-size: 20px;
                                                                                                        
                                                                                                                                                    }
                                                                                                                                                    .gh{

                                                                                                                                                        float: left;
                                                                                                                                                        width: 50%;
                                                                                                                                                        margin-top: 0px;
                                                                                                                                                        padding-left: 0px;
                                                                                                                                                        padding-right: 0px;
                                                                                                                                                
                                                                                                                                                    }                                                                                                                                                   
                                                                                                                                                    #lwys{

                                                                                                                                                        float: left;
                                                                                                                                                        
                                                                                                                                                        font-size: 15px;
                                                                                                                                                        font-family: 'Lato', sans-serif;
                                                                                                                                                        color: #fff;
                                                                                                                                                        padding-left: 0px;
                                                                                                                                                    }
                                                                                                                                                    .ghf{
                                                                                                                                                        float: left;
                                                                                                                                                        width: 25%;
                                                                                                                                                        margin-left: 0px;
                                                                                                                                                        
                                                                                                                                                                                      }   
   .o_n{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    width: 100px;   
    
   }
    .tex_ghf{
        
        height: 200px;   
    }     
    .c_uc1{
        
        margin-left: 0px;
        
                                                 }                                                                                                                                                                                                                                                                                                                    
                                                 .c_uc1 p{

                                                    font-size: 14px;   
                                                }
                                                #c_uc{

                                                    float: left;
                                                    width: 100%;
                                                    padding-left: 0px;
                                                }
                                                #obr_sv{
                                                    width: 500px;
                                                    height: 350px;
                                                  
                                                    
                                                    
                                                                                             }

               textarea {
                
                width: 200px;
                
                
            }                                                                               
            
            input{
                width: 200px;
           
                
               
               

            }
            #inn{

                
                padding-left: 20px;
                padding-right: 20px;

            }